<a class="AknActionButton" data-toggle="dropdown" href="#">
    Attribute group:
    <span class="AknActionButton-strong">
        <% _.each(elements, function (element) { %>
            <% if (current === element.code) { %>
                <%- i18n.getLabel(element.labels, locale, element.code) %>
            <% } %>
        <% }); %>
    </span>
    <span class="AknActionButton-caret AknCaret"></span>
</a>

<ul class="AknDropdown-menu AknDropdown-menu--right">
    <li class="AknDropdown-menuTitle">Attribute group</li>
    <% _.each(elements, function (element) { %>
        <li data-element="<%- element.code %>">
            <a class="AknDropdown-menuLink <%- current === element.code ? 'AknDropdown-menuLink--active' : '' %>">
                <span class="group-label"><%- i18n.getLabel(element.labels, locale, element.code) %></span>
                <span class="badge-elements-container">
                    <span class="AknBadge AknBadge--round AknBadge--highlight <%- !_.contains(toFillAttributeGroups, element.code) ? 'AknBadge--hidden' : '' %>"></span>
                    <% _.each(badges[element.code], function(badge, type) { %>
                        <span class="AknBadge AknBadge--<%- type %> <%- type %>-badge label"><%- badge %></span>
                    <% }) %>
                </span>
            </a>
        </li>
    <% }); %>
</ul>
