@import '../../base/variables';

.AknFilter {
  @arrowSize: 10px;
  @arrowTopPosition: 20px;
  @arrowBorderSize: @arrowSize + 1px;
  @filterHeight: 68px;
  @paddingTop: 18px;
  @paddingBottom: 2px;

  .arrow(@size, @top, @color) {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: @size @size @size 0;
    border-color: transparent @color transparent transparent;
    position: absolute;
    right: -1px;
    top: @top;
  }

  padding: @paddingTop (@paddingTop + @paddingBottom) @paddingBottom;
  cursor: pointer;
  height: @filterHeight;
  font-size: @AknFontSizeBig;
  position: relative;

  &-label {
    color: #A1A9B7;
    text-transform: uppercase;
    display: block;
    font-size: @AknFontSizeSmall;
    line-height: @AknFontSizeSmall;
  }

  &-value {
    display: block;
  }

  &.open-filter {
    &:after {
      .arrow(@arrowSize, @arrowTopPosition, #ffffff);
    }

    &:before {
      .arrow(@arrowBorderSize, @arrowTopPosition - 1px, @AknBorderColor);
    }
  }

  .AknFilterBox-disableFilter.disable-filter {
    display: none;
  }

  &--full {
    border-top: 1px solid @AknBorderColor;
    border-bottom: 1px solid @AknBorderColor;
    color: lighten(@AknPurple, 20%);
    line-height: @filterHeight - 2 * 10px;
    padding: ((@paddingTop + @paddingBottom) / 2) (@paddingTop + @paddingBottom);
    font-weight: bold;
  }

  &-icon {
    color: lighten(@AknPurple, 10%);
    position: absolute;
    right: 28px;
  }

  &-optgroup {
    padding: 15px 20px 0;
  }

  &-optgroupLabel {
    color: #A1A9B7;
    text-transform: uppercase;
    font-size: @AknFontSizeSmall;
    line-height: 20px;
  }

  &-option {
    color: @AknDefaultFontColor;
    line-height: 28px;
    font-weight: normal;
  }

  &-checkbox {

  }

  &-option &-checkbox[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
  }

  // Test
  input[type=checkbox]:after {
    content: " ";
    background-color: white;
    display: inline-block;
    visibility: visible;
    height: 20px;
    width: 20px;
    border: 1px solid @AknBorderColor;
    border-radius: 4px;
  }

  input[type=checkbox]:checked:after {
    background-color: #5A91C6;
    color: white;
    content: "\2714";
    font-size: 17px;
    text-align: center;
  }

  &-search {
    margin: 20px 20px 10px;
    width: ~"calc(100% - 40px)";
    font-size: 14px;
    border: none;
    outline: none;
    color: #6b6b6b;
  }
}
