<div class="AknDefault-mainContent">
<header class="AknTitleContainer">
    <img class="AknTitleContainer-image" src="http://lorempixel.com/140/140/">
    <div class="AknTitleContainer-contentContainer">
        <div class="AknTitleContainer-breadcrumbs">TODO</div>
        <div class="AknTitleContainer-title" data-drop-zone="title"></div>
        <div class="AknTitleContainer-viewContext AknButtonList context-selectors" data-drop-zone="context-selectors"></div>
        <div class="AknTitleContainer-completenessContainer">
            Complete: 76%
        </div>
        <!-- TODO This next zone should be dropped, we keep it for the behats -->
        <div data-drop-zone="meta"></div>
    </div>
    <div class="AknTitleContainer-actions">
        <div class="AknButtonList AknButtonList--right" data-drop-zone="buttons">
            <div class="AknUserMenu AknButtonList-item">
                <img class="AknUserMenu-image" src="http://lorempixel.com/32/32/">
            </div>
            <div class="AknBell AknButtonList-item AknButtonList-item--withSeparator">
                <span class="AknBell-count"></span>
            </div>
        </div>
        <div class="AknTitleContainer-state" data-drop-zone="state"></div>
    </div>
</header>

<div data-drop-zone="content" class="content"></div>

<div style="display: none">
    Elements to drop !
    <div data-drop-zone="sequential"></div>
    <div data-drop-zone="back"></div>
    <div data-drop-zone="title-buttons"></div>

</div>
