<div class="entity-edit-form edit-form">
    <header class="AknTitleContainer">
        <img class="AknTitleContainer-image" src="http://lorempixel.com/140/140/">
        <div class="AknTitleContainer-contentContainer">
            <div class="AknTitleContainer-breadcrumbs">Products / Tracker Collection</div>
            <div class="AknTitleContainer-title" data-drop-zone="title"></div>
            <div class="AknTitleContainer-viewContext">
                Channel: Ecommerce
                Locale: English
            </div>
            <div class="AknTitleContainer-completenessContainer">
                Complete: 76%
            </div>
        </div>
        <div class="AknTitleContainer-actions">
            TODO
            <div data-drop-zone="buttons"></div>
            <div data-drop-zone="secondary-buttons"></div>
        </div>
    </header>

    <div data-drop-zone="content" class="content"></div>

    <div style="display: none">
        Elements to drop !
        <div data-drop-zone="sequential"></div>
        <div data-drop-zone="back"></div>
        <div data-drop-zone="title-buttons"></div>
        <div data-drop-zone="meta"></div>
        <div data-drop-zone="state"></div>
    </div>
</div>
