@import '../base/variables';

.AknMainMenu {
  @borderWidth: 5px;

  display: flex;
  flex-direction: column;

  &-item {
    border-left: @borderWidth solid white;
    border-right: @borderWidth solid white;
    opacity: 0.5;
    transition: border-color 0.1s ease-in, opacity 0.1s ease-in;
  }

  // TODO Remove when submenus will be dropped
  // TODO Add documentation on changelog to set back custom menus
  &-level1, &-level2 {
    display: none;
  }

  &-link {
    color: @AknDefaultFontColor;
    text-align: center;
    height: @AknMainMenuWidth;
    font-size: @AknFontSizeSmall;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-itemImage {
    // TODO Ask @yulldesign to refactor for 20x height
    height: 20px;
  }

  &-item--active,
  &-item:hover {
    border-left-color: lighten(@AknPurple, 25%);
    opacity: 1;
  }
}
